/*Turn off border around floor number in table */

.table-bordered th {
	border: 0;
}

#stackingPlanTable {
	/* Prevent the appearance of a scrolling bar for the thable */
	max-width: 87%;
}

.keyRow {
	max-width: 78%;
}

body {
	color: white;
}

h1,
h2,
h3,
li,
th {
	color: black;
}

.keyDatesDiv {
	padding-left: 0;
	padding-right: 0;
}

#buildingDataDiv {
	padding-left: 0;
	padding-right: 0;
}

th {
    white-space:nowrap;
}

.buildingDataKey {
    font-weight: bold;
}
